

@font-face {
  font-family: "Cardo";
  src: url("/assets/font/Cardo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cardo";
  src: url("/assets/font/Cardo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cardo";
  src: url("/assets/font/Cardo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/font/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/font/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/font/JetBrainsMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*         Actual CSS Below! Yay!          */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

:root {
    --ground: #333;
    --resting: #bbb;
    --active: #f77;
    --hover: #ee7;
    --label: #777;

    --serif: "Cardo", Georgia, serif;
    --mono: "JetBrains Mono", monospace;
}

[data-cycle="gross-gloss"] {
  --ground: #00a;
  --body: #bbb;
  --active: #afe;
  --hover: #08f;
  --label: #afe;
}

[data-cycle="technomystic"] {
  --ground: #800;
  --body: #FFF;
  --active: #EE7;
  --hover: #F77;
  --label: #F77;
}

[data-cycle="technomystic"] {
  --ground: #640;
  --body: #fff;
  --active: #ee7;
  --hover: #d85;
  --label: #d85;
}

body {
    background: var(--ground);
    color: var(--resting);    
    font-family: var(--serif); 
}

a {
    color: var(--label);    
}

a:hover {
    color: var(--hover);
}

figure, nav {
     font-family: var(--mono); 
}